body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 10px;
    padding: 5px;
}

header, footer {
    background-color: rgb(71, 71, 229);
    color: white;
    padding: 1rem;
    text-align: center;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

.directory-card {
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    background-color: #f9f9f9;
}

#directory section {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.grid section {
  text-align: center;
}

.list {
  display: flex;
  flex-direction: column;
}

.list section {
  grid-template-columns: 2fr 1fr 1fr;
  align-items: center;
}

.list img {
  display: none;
}

#directory img {
  width: 100%;
  max-width: 180px;
  height: auto;
  object-fit: contain;
  margin-bottom: 0.5rem;
}

.directory-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}