@media (min-width: 1025px) {
  nav ul {
    display: flex;
    justify-content: center;
  }

  .directory-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  #discover-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "a b c d"
      "e f g h"
      "i j k l";
  }

}
