@media (min-width: 641px) and (max-width: 1024px) {
     #discover img {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    #discover img:hover {
        transform: scale(1.05);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    }

        .card {
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }

    #discover-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "a b"
      "c d"
      "e f"
      "g h";
      
  }
}


