@media only screen and (min-width: 38rem) {
  header, main, footer {max-width: 900px;margin: 0 auto;}


  header {grid-template-columns: 24px auto 44px;}

  .hamburger {display: none;}
  .navigation {display: block;border-bottom: solid 1px #eee;}
  .navigation ul {display: flex;justify-content: center;align-items: center;}
  .navigation li {margin-right: 20px;}
  .navigation li.current a {border-bottom: 2px solid #E07A5F;}
  .navigation a {border: none;}
  main {display: grid;grid-template-columns: 1fr 1fr;gap: 1rem;}

  main h1 {grid-column: 1 / -1;}

  section {background-color: #f9f9f9;}
}