/* Header styles */
header {display: grid;grid-template-columns: 24px auto 44px;padding: 5px 0 5px 10px;align-items: end;border-bottom: solid 1px rgb(200, 200, 200);column-gap: 8px;}

header img {display: block;width: 100%;height: auto;padding-bottom: 5px;}

header span {font-size: 1.2rem;color: rgb(0, 0, 0);}
/* Hamburger button styles */
.hamburger {background: none;border: none;color: rgb(0, 0, 0);cursor: pointer;}

.hamburger::before {content: "\2630";font-size: 24px;}

.hamburger.show::before {content: "\00D7";}
/* Navigation styles */
.navigation {display: none;}

.navigation.show {display: block;}
.navigation ul {list-style-type: none;margin: 0;padding: 0;}

.navigation a{display: block;padding: .8rem 10px;color: #3d405b;text-decoration: none;border-bottom: 1px solid #ddd;}

.navigation li.current a {font-weight: 700;color: #000;}

.navigation a:hover {border-bottom: 1px solid #E07A5F;}
/* Main content styles */
main {padding: 0 10px;}
section {margin: 1rem 0;padding: 1rem;background-color: #f9f9f9;border-radius: 4px;}

h1 {margin-left: 10px;color: #3d405b;}
.course-card {padding: 1rem;border: 1px solid #ccc;border-radius: 4px;}

.course-card.completed {background-color: #C65D44;color: #ffffff;}

.course-card.completed h3,
.course-card.completed p {color: #ffffff;}


.course-buttons {display: flex;gap: .5rem;margin-bottom: 1rem;}

.course-buttons button {padding: .5rem 1rem;cursor: pointer;}

footer {background-color: #eee;padding: 1rem 10px;text-align: center;}

.social {display: flex;justify-content: center;column-gap: 8px;}

.social a {display: flex;justify-content: center;align-items: center;width: 44px;height: 44px;border: #ccc solid 1px ;border-radius: 22px;}

.social img {width: 22px;height: 22px;}

.social a:hover {background-color: #ddd;border-radius: 50%;} 